@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:ital,wght@0,300;1,500&family=Titillium+Web:wght@200;300;400;600;700&family=Ubuntu:wght@500&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.header {
    height: 400px;
    background-color: #f4f4f6;
}
.nav-bar,
.arrow-up-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.9rem;
    width: 4.8rem;
    height: 4.8rem;
    border: 0.2rem solid rgba(0, 3, 9,0.4);
    box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 3, 9, 0.1);
    border-radius: 50%;
    line-height: 5rem;
    cursor: pointer;
    transition: .3s;
    z-index: 105;
}
.nav-bar:hover{
    background-color: rgba(0, 3, 9, 0.7);
    border: 0.2rem solid rgba(0, 3, 9,0.5);
    .iconnav{
        color: #f4f4f6;
    }
}
.iconnav{
    color: #1b1b1b;
}
.iconnavX{
    display:none;
    color: #ffff;
}
.containerNav {
    position: fixed;
    display: none;
    width: 15rem;
    height: auto;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #07080a;
    text-align: left;
    border: 0.2rem solid rgb(5, 5, 5);
    border-radius: 0% 10% 10% 10%;
    z-index: 104;
}
.nav-ul{
    margin-top: 4rem;
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
}
.containerNav nav ul li{
    padding-bottom: 0.3rem;
}
.ancla-nav {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.ancla-nav:hover {
    font-size: 1.5rem;
    color: rgb(14, 139, 197);
}
#container-second-navbar{
    display: none;
}
.container-aboutme-big{
    display: none;
}
.sectionName {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10rem;
}
.nameTop {
    font-size: 3.8rem;
    color: #07080a;
}
#font-bold{
    font-weight: bold;
}
.specialtyTop {
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: #07080a;
}
main {
    position: relative;
}
.container-arrow-up{
    display: flex;
    justify-content: right;
    transition: .3s;
}
.arrow-up-container{
    display: none;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 0.2rem solid rgba(195, 195, 195,0.4);
    background-color: rgba(7, 8, 10,0.8);
    box-shadow: 0 0 0.3rem 0 rgba(0, 3, 9, 0.8);
    transition: .3s;
    z-index: 102;
}
#a-arrow-up{
    text-decoration: none;
}
#arrow-up{
    color: #ffff;
}
.sectionPresentation {
    height: 50rem;
    background-color: #000309;
    display: flex;
    justify-content: center;
}
.container-img-presentation{
    width: 23rem;
    height: 23rem;
    border: 0.2rem solid #f4f4f6;
    border-radius: 50%;
    border-left-color: #000309;
    border-right-color: #000309;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -13rem;
    padding: 2rem;
    z-index: 99;
}
.img-presentation {
    width: 90%;
    position: absolute;
    bottom: 6%;
}
.img-presentation:hover {
    width: 91%;
    background: transparent;
    border-radius: 1rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0, 0.5));
    cursor: pointer;
}
.container-icons-main{
    width: 100%;
    display:flex;
    justify-content: center;
}
.icons-main {
    width: 80%;
    height: 18rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -10rem;
}
.icons-main a {
    position: absolute;
    text-decoration: none;
    font-size: 2.7rem;
    color: rgb(52, 52, 52);
}
.icons-main a:first-child {
    font-size: 3.1rem;
    margin-right: 27rem;
    margin-top: 2rem;
}
.icons-main a:nth-of-type(2) {
    margin-right: 28rem;
    margin-top: 11.5rem;
}
.icons-main a:nth-of-type(3) {
    margin-right: 18rem;
    margin-top: 18rem;
}
.icons-main a:nth-of-type(4) {
    margin-top: 21rem;
}
.icons-main a:nth-of-type(5) {
    margin-left: 18rem;
    margin-top: 18rem;
}
.icons-main a:nth-of-type(6) {
    margin-left: 28rem;
    margin-top: 11.5rem;
}
.icons-main a:nth-of-type(7) {
    font-size: 3.1rem;
    margin-left: 27rem;
    margin-top: 2rem;
}
.icons-main a:hover {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.icons-main a:first-child:hover,
.icons-main a:nth-of-type(7):hover{
    font-size: 3.5rem;
    color: black;
}
.container-presentation {
    width: 100%;
    margin-top: 21rem;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3;
}
.presentation{
    width: 85%;
}
.text-presentation {
    font-size: 1.6rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
}
.text-presentation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.section-workExp {
    height: auto;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
        url("https://imgur.com/eHW0c6u.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workExperienceTitle,
.coursesTaken-title,
.projectsTitle,
.technologiesTitle,
.moreAboutMe-title,
.gratefulnessTitle{
    font-size: 3.8rem;
    color: #fff;
    text-shadow: 1px 1px 5px  #000000;
    margin-top: 2.5rem;
}
.first-cont-workexp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-text-work,
.container-coursesTaken-text,
.container-project-text,
.container-text-technologies,
.container-end-technology,
.subcontainer-text-map-footer,
.subcontainer-map-footer,
.subcontainer-last-update-footer,
.subcontainer-creater-footer{
    width: 85%;
    margin-top: 2rem;
}
.textWork,
.text-preCarousel,
.textQualities,
.coursesTaken-text,
.textProjects,
.textTechnologies,
.text-end-technology,
.text-map-footer{
    font-size: 1.6rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
}
.container-ul-work,
.container-qualities-ul,
.technologies-list{
    width: 85%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.ul-work,
.ul-qualities{
    width: 85%;
    color: #c3c3c3;
    list-style-type: "- ";
    font-size: 1.5rem;
    column-count: 2;
    column-gap: 2rem;
}
.article-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-text-preCarousel{
    width: 85%;
    margin-bottom: 1rem;
}
.text-preCarousel{
    color: #fff;
}
.container-carousel {
    position: relative;
    width: 90%;
    height: 300%;
    box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.66);
    border-radius: 1.5rem;
    overflow: hidden;
}
.carouseles {
    width: 3600%;
    height: 100%;
    background-color: rgba(7, 8, 10,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-section {
    width: calc(100% / 36);
    height: 100%;
}
.img-slider-section {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2.4rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left {
    left: 1rem;
}
.btn-right {
    right: 1rem;
}
.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}
.article-qualities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-qualities{
    width: 85%;
    margin-top: 4rem;
}
.qualities {
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px  #000000;
}
.ul-qualities li,
.ul-work li {
    margin-bottom: 0.9rem;
}
.section-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #01192f, #000309);
    padding-bottom: 3.9rem;
}
.container-courses {
    width: 80%;
    height: auto;
    margin: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    grid-row-gap: 3.5rem;
    grid-column-gap: 3.5rem;
    justify-items:flex-start;
    align-items: center;
    text-align: center;
}
.course{
    width: 100%;
    height: 30.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container-sub-course{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(36, 55, 71,0.4), rgba(75, 116, 160,0.4));
}
.container-img-course{
    width: 100%;
    height: 20rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
}
.img-course{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.img-course:hover{
    box-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
}
.container-title-course{
    width: 90%;
    padding-top: 1rem;
}
.title-course,
.project-title {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-shadow: 0 0 0.9rem black;
}
.container-butons-courses{
    width: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    bottom: 1rem;

}
.container-buton-details-course{
    width: auto;
}
.btn-danger{
    --bs-btn-bg:#00458e;
    --bs-btn-border-color: #00458e;
    --bs-btn-hover-bg:#082d55;
    --bs-btn-hover-border-color:#082d55;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #082d55;
    --bs-btn-active-border-color: #082d55;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #082d55;
    --bs-btn-disabled-border-color: #082d55;
}
.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 1.9rem;
    --bs-btn-font-size: 1.4rem;
    --bs-btn-border-radius: 0.5rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 1.4rem !important;
    --bs-btn-font-size: 1.4rem;
    --bs-btn-border-radius: 0.5rem;
}
.custom-popover{
    --bs-popover-max-width: 21rem;
    --bs-popover-box-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
    --bs-popover-header-bg: #00458e;
    --bs-popover-header-color: #f4f4f6;
    --bs-popover-header-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
    --bs-popover-body-padding-x: 0.4rem;
    --bs-popover-body-padding-y: 0.5rem;
    --bs-popover-font-size: 1.4rem !important;
    --bs-popover-header-font-size: 1.4rem !important;
}
#btnCourse{
    width: 100% !important;
    font-weight: bold;
}
.container-url-course {
    width: 9rem;
    height: auto;
    border-radius: 0.5rem;
    background-color: #178ea3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-url-course:hover{
    background-color: #0f4751;
}
.url-course {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
    color: #fff;
    text-decoration: none;
}
#all-courses{
    --bs-btn-font-size: 1.5rem;
    font-weight: bold;
}
.container-buton-all-courses{
    padding-top: 7rem;
}
.section-projects{
    height: auto;
    padding-bottom: 3.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f6;
}
.projectsTitle,
.technologiesTitle,
.gratefulnessTitle{
    color: #000309;
    text-shadow: none;
    text-shadow: 1px 1px 5px  #949494;
}
.textProjects,
.textTechnologies,
.text-end-technology{
    color: #000309;
}
.container-projects{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem,1fr));
    grid-row-gap: 3rem;
    grid-column: 1rem;
    justify-items: center;
}
.area-complete-element{
    width: 36rem;
    height: 11.3rem;
    display: flex;
    justify-content: center;
}
.sub-area-project{
    width: 36rem;
    height: 11.3rem;
    display: flex;
    justify-content: end;
    align-items:end;
    position: relative;
}
.first-container-project1{
    width: 30rem;
    height: 10rem;
    background-color: #000309;
    border-radius: 25rem 7rem 5rem 15rem;
    margin-right: 0.5rem;
    position: relative;
}
.second-container-absolute{
    width: 50%;
    height: auto;
    display: inline;
}
.circle{
    float: left;
    width: 5.5rem;
    height: 11rem;
    border-radius: 50%;
    margin-right: 2rem;
    shape-outside: circle();
}
.circle-img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-color: #f4f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
.img-project{
    width: 95%;
    border-radius: 10rem;
}
.project-title{
    margin: 0.5rem 0 0 0;
    bottom: 0;
}
.container-butons-projects{
    width: 57%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    bottom: 1rem;
    left: 13rem;
}
#btnProject{
    padding: 0 0.5rem 0 0.5rem;
    height: 100%;
    font-weight: bold;
}
.section-technologies,
.section-gratefulness{
    height: auto;
    padding-bottom: 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffc;
}
.scroller {
    width: 100%;
}
.scroller-second{
    display: none;
}
.scroller__inner {
    padding-block: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.scroller img{
    width: auto;
    height: 6rem;
    padding-right: 1rem;
}
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}
.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
.technologies-list{
    width: 100%;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 0;
}
.text-technologies-list{
    width: 90%;
    font-size: 1.5rem;
    color: #d4d4d4;
}
.section-gratefulness{
    height: auto;
    padding: 0 0 3.9rem 0;
}
.gratefulnessTitle{
    margin: 0;
}
.img-gratefulness{
    width: 18rem;
    padding-top: 1rem;
}
.footer-end{
    background-color: #07080a;
    height: auto;
}
.container-dragonball{
    display: none;
}
.section-footer{
    height: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-container-footer{
    width: 100%;
    margin-top: 8rem;
}
.container-map-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subcontainer-text-map-footer{
    text-align: center;
}
.subcontainer-map-footer{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #616060;
}
.map-footer{
    width:100%;
    height:24rem;
    border:0;
    border-radius: 1rem;
}
.links-aboutme-footer{
    width: 100%;
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-aboutme-footer{
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
}
.icon-footer-a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #c3c3c3;
}
.iconFooter{
    font-size: 1.8rem;
    color: #ffff;
}
.container-latest-data-footer{
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subcontainer-last-update-footer,
.subcontainer-creater-footer{
    margin: 0;
    padding: 0;
}
.text-last-update-footer,
.text-creater-footer{
    font-size: 1.2rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
    margin: 0;
}
.text-last-update-footer{
    margin-bottom: 0.4rem;
}
.signature-footer{
    text-decoration: none;
    color: #ffff;
}
@media (min-width: 756px) {
    .sectionPresentation {
        height: 45rem;
    }
}
@media (min-width: 936px) {
    .sectionPresentation {
        height: 40rem;
    }
    .scroller{
        width: 80%;
    }
    .scroller-first{
        display: none;
    }
    .scroller-second{
        display: block;
    }
    .technologies-list{
        width: 85%;
    }
    .container-end-technology{
        width: 55%;
    }
    .section-gratefulness{
        padding-bottom: 6rem;
    }
    .container-img-gratefulness{
        display: none;
    }
    .footer-end{
        position: relative;
    }
    .container-dragonball{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        bottom: 57.4rem;
    }
    .first-img-dragon-ball{
        padding-left: 2rem;
        height: 25rem;
    }
    .second-picture-dragonball{
        padding: 0 2rem 2.2rem 0;
    }
    .second-img-dragon-ball{
        height: 20rem;
    }
    .first-container-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-map-footer{
        width: 50%;
    }
    .map-footer{
        width: 100%;
        height: 35rem;
    }
    .links-aboutme-footer{
        width: auto;
        margin-top: 0;
    }
    .subcontainer-map-footer{
        padding: 0;
        border-bottom: 0;
        padding: 0 4rem 0 0;
        border-right: 0.1rem solid #616060;
    }
    .container-latest-data-footer{
        width: 40%;
        flex-direction: row;
        align-items: start;
    }
}
@media (min-width: 1100px){
    .header{
        height: auto;
    }
    .nav-bar{
        display: none;
    }
    #container-second-navbar{
        width: 100%;
        height: 6.5rem;
        display: flex;
        justify-content:center;
        position: fixed;
        z-index: 110;
    }
    #nav-bar-second{
        width: 100%;
        background-color: #0b0b0c !important;
        border-radius: 0rem 0rem 3rem 3rem;
    }
    #navbarNavDropdown{
        display: flex;
        justify-content: center;
    }
    .nav-link{
        font-size:1.8rem;
        color: #c3c3c3 !important;
        padding: 0 1.2rem 0 1.2rem !important;
        transition: .1s;
    }
    .nav-link:hover{
        font-size: 2rem;
        color: #fff !important;
        -webkit-box-reflect:below -12px linear-gradient(transparent, #0005);
    }
    .icon-flag{
        width: 2rem;
        height: auto;
        margin-right: 1rem;
    }
    #dropdown-header{
        font-size: 1.8rem;
    }
    .sectionName,
    .sectionPresentation,
    .scroller-second,
    .section-technologies,
    .container-dragonball{
        display: none;
    }
    .container-picture-aboutme{
      grid-area: photo;  
    }
    .container-texts-aboutme{
        grid-area: aboutme;
    }
    .scroller-main{
        grid-area: technology;
        margin-top: 5rem;
    }
    .scroller img{
        height: 5rem;
    }
    #tech-list{
        grid-area: techlist;
    }
    .text-technologies-list{
        font-size: 1.6rem;
    }
    .section-first-aboutme{
        width: 100%;
        height: 100vh;
        background-color: #f4f4f6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-aboutme-big{
        width: 100%;
        padding: 12rem 0 5rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        'photo aboutme'
        'technology technology'
        'techlist techlist';
        justify-content: center;
        align-items: end;
        justify-items: center;
    }
    .container-picture-aboutme{
        width: 43rem;
        height: 44rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .container-img-aboutme{
        width: 32rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;        
    }
    .img-presentation{
        width: 95%;
        bottom: 0;
        position: static;
        z-index: 2;
    }
    .img-presentation:hover{
        width: 96%;
    }
    .container-icons-socials{
        width: 41rem;
        height: 30rem;
        display: flex;
        justify-content: space-around;
        text-align: center;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    .icon-social-main{
        width: auto;
        height: auto;
        color: #000309;
        text-decoration: none;
        font-size: 4rem;
        position: absolute;
        transition: .1s;
    }
    .icon-social-main:first-child{
        left: 0.5rem;
    }
    .icon-social-main:nth-of-type(2) {
        left: 0.4rem;
        top: 11rem;
    }
    .icon-social-main:nth-of-type(3) {
        left: 6.5rem;
        top: 20rem;
    }
    .icon-social-main:nth-of-type(4) {
        bottom: 0;
    }
    .icon-social-main:nth-of-type(5) {
        right: 6.5rem;
        top: 20rem;
    }
    .icon-social-main:nth-of-type(6) {
        right: 0.2rem;
        top: 11rem;
    }
    .icon-social-main:nth-of-type(7) {
        right: 0;
    }
    .icon-social-main:hover{
        font-size: 4.5rem;
    }
    .icon-social-main:first-child:hover{
        color: #25d366;
        -webkit-box-reflect:below -2.5rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(2):hover{
        color: #13c0c9;
        -webkit-box-reflect:below -2.2rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(3):hover{
        color: #0783bb;
        -webkit-box-reflect:below -3.2rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(4):hover{
        color: #ff3377;
        -webkit-box-reflect:below -2.8rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(5):hover{
        color: #0059b2;
        -webkit-box-reflect:below -2.1rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(6):hover{
        color: 	#c71610;
        -webkit-box-reflect:below -3.2rem linear-gradient(transparent, #0005);
    }
    .icon-social-main:nth-of-type(7):hover{
        color: 	#7c3eb7;
        -webkit-box-reflect:below -2.5rem linear-gradient(transparent, #0005);
    }
    .container-texts-aboutme{
        width: 37rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nameTop{
        font-size: 4.5rem;
        letter-spacing: 0.1rem;
        text-shadow: 1px 1px 5px  #9c9a9a;
    }
    .specialtyTop{
        font-size: 2.3rem;
        margin: 0;
    }
    .container-text-presentation{
        width: 100%;
    }
    .text-presentation{
        padding: 3rem 0 0 0;
        color: #000309;
    }
    .text-presentation a {
        color: #01192f;
    }
    .workExperienceTitle,
    .coursesTaken-title,
    .projectsTitle,
    .gratefulnessTitle{
        font-size: 4.5rem;
        margin: 5rem 0 0 0;
    }
    .workExperienceTitle{
        grid-area: titleWork;
    }
    .first-cont-work{
        grid-area: textwork1;
    }
    .container-text-work{
        margin: 0;
        padding-top: 4rem;
    }
    .article-carousel{
        grid-area: carousel;
    }
    .container-carousel{
        width: 80%;
        height: 80%;
    }
    .article-qualities{
        grid-area: qualities;
    }
    .container-text-preCarousel{
        padding-top: 3rem;
    }
    .section-workExp{
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        'titleWork titleWork'
        'textwork1 carousel'
        'qualities carousel';
        justify-items: center;
        align-items: center;
    }
    .technologies-gratefulness{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-bottom: 3.9rem;
    }
    .section-gratefulness{
        padding: 0;
    }
    .container-img-gratefulness{
        display: inline;
    }
}
@media (min-width: 1480px){
    .container-aboutme-big{
        width: 80%;
    }
    .section-workExp{
        padding-bottom: 10rem;
    }
}