@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:ital,wght@0,300;1,500&family=Titillium+Web:wght@200;300;400;600;700&family=Ubuntu:wght@500&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.header {
    height: 400px;
    background-color: #f4f4f6;
}
.nav-bar,
.arrow-up-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.9rem;
    width: 4.8rem;
    height: 4.8rem;
    border: 0.2rem solid rgba(0, 3, 9,0.4);
    box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 3, 9, 0.1);
    border-radius: 50%;
    line-height: 5rem;
    cursor: pointer;
    transition: .3s;
    z-index: 105;
}
.nav-bar:hover{
    background-color: rgba(0, 3, 9, 0.7);
    border: 0.2rem solid rgba(0, 3, 9,0.5);
    .iconnav{
        color: #f4f4f6;
    }
}
.iconnav{
    color: #1b1b1b;
}
.iconnavX{
    display:none;
    color: #ffff;
}
.containerNav {
    position: fixed;
    display: none;
    width: 15rem;
    height: auto;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #07080a;
    text-align: left;
    border: 0.2rem solid rgb(5, 5, 5);
    border-radius: 0% 10% 10% 10%;
    z-index: 104;
}
.nav-ul{
    margin-top: 4rem;
    list-style-type:none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    
}
.containerNav nav ul li{
    padding-bottom: 0.3rem;
}
.ancla-nav {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.ancla-nav:hover {
    font-size: 1.5rem;
    color: rgb(14, 139, 197);
}
.sectionName {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10rem;
}
.nameTop {
    font-size: 3.8rem;
    color: #07080a;
}
#font-bold{
    font-weight: bold;
}
.specialtyTop {
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: #07080a;
}
main {
    position: relative;
}
.container-arrow-up{
    /* width: 100%; */
    display: flex;
    justify-content: right;
    transition: .3s;
}
.arrow-up-container{
    display: none;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border: 0.2rem solid rgba(195, 195, 195,0.4);
    background-color: rgba(7, 8, 10,0.8);
    box-shadow: 0 0 0.3rem 0 rgba(0, 3, 9, 0.8);
    transition: .3s;
    z-index: 102;
}
#a-arrow-up{
    text-decoration: none;
}
#arrow-up{
    color: #ffff;
}
.sectionPresentation {
    height: 50rem;
    background-color: #000309;
    display: flex;
    justify-content: center;
}
.container-img-presentation{
    width: 23rem;
    height: 23rem;
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 50%;
    border-left-color: #000309;
    border-right-color: #000309;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -13rem;
    padding: 2rem;
    z-index: 99;
    /* display: none; */
}
.img-presentation {
    width: 90%;
    position: absolute;
    bottom: 6%;
}
.img-presentation:hover {
    width: 91%;
    background: transparent;
    border-radius: 1rem;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0, 0.5));
    cursor: pointer;
}
.container-icons-main{
    width: 100%;
    display:flex;
    justify-content: center;
}
.icons-main {
    width: 80%;
    height: 18rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -10rem;
}
.icons-main a {
    position: absolute;
    /* top: 0; */
    text-decoration: none;
    font-size: 2.7rem;
    color: rgb(52, 52, 52);
}
.icons-main a:first-child {
    font-size: 3.1rem;
    margin-right: 27rem;
    margin-top: 2rem;
}
.icons-main a:nth-of-type(2) {
    margin-right: 28rem;
    margin-top: 11.5rem;
}
.icons-main a:nth-of-type(3) {
    margin-right: 18rem;
    margin-top: 18rem;
}
.icons-main a:nth-of-type(4) {
    margin-top: 21rem;
    /* padding-left: 5rem;
    margin-top: 14rem; */
}
.icons-main a:nth-of-type(5) {
    margin-left: 18rem;
    margin-top: 18rem;
}
.icons-main a:nth-of-type(6) {
    margin-left: 28rem;
    margin-top: 11.5rem;
}
.icons-main a:nth-of-type(7) {
    font-size: 3.1rem;
    margin-left: 27rem;
    margin-top: 2rem;
}
.icons-main a:hover {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.icons-main a:first-child:hover,
.icons-main a:nth-of-type(7):hover{
    font-size: 3.5rem;
    color: black;
}

.container-presentation {
    width: 100%;
    margin-top: 21rem;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3;
}
.presentation{
    width: 85%;
}
.text-presentation {
    font-size: 1.6rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
}
.text-presentation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.section-workExp {
    height: 120rem;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
        url("https://imgur.com/eHW0c6u.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workExperienceTitle,
.coursesTaken-title,
.projectsTitle,
.technologiesTitle,
.moreAboutMe-title{
    font-size: 3.8rem;
    color: #fff;
    text-shadow: 1px 1px 5px  #000000;
    margin-top: 2.5rem;
}
.container-text-work,
.container-coursesTaken-text,
.container-project-text,
.container-text-technologies,
.container-end-technology,
.subcontainer-text-map-footer,
.subcontainer-map-footer,
.subcontainer-last-update-footer,
.subcontainer-creater-footer{
    width: 85%;
    margin-top: 2rem;
}
.textWork,
.text-preCarousel,
.textQualities,
.coursesTaken-text,
.textProjects,
.textTechnologies,
.text-end-technology,
.text-map-footer{
    font-size: 1.6rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
}
.container-ul-work,
.container-qualities-ul{
    width: 85%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.ul-work,
.ul-qualities{
    width: 85%;
    color: #c3c3c3;
    list-style-type: "- ";
    font-size: 1.5rem;
    column-count: 2;
    column-gap: 2rem;
}
.container-text-preCarousel{
    width: 85%;
    margin-bottom: 1rem;
}
.text-preCarousel{
    color: #fff;
}
.container-carousel {
    position: relative;
    width: 85%;
    height: auto;
    background-color: #e0e0e0;
    box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.66);
    border-radius: 1.5rem;
    overflow: hidden;
}
.carouseles {
    width: 300%;
    height: 100%;
    display: flex;
}
.slider-section {
    width: calc(100% / 3);
    height: 100%;
}
.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2.4rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left {
    left: 1rem;
}
.btn-right {
    right: 1rem;
}
.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}
.container-qualities{
    width: 85%;
    margin-top: 4rem;
}
.qualities {
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px  #000000;
}
.ul-qualities li,
.ul-work li {
    margin-bottom: 0.9rem;
}
.section-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #01192f, #000309);
    padding-bottom: 3.9rem;
}
.container-courses {
    width: 80%;
    height: auto;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3.5rem;
    justify-items: center;
    text-align: center;
}
.course{
    width: 100%;
    height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(36, 55, 71,0.4), rgba(75, 116, 160,0.4));
}
.container-img-course{
    width: 100%;
    height: 20rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
}
.img-course{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.img-course:hover{
    box-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
}
.container-title-course{
    width: 90%;
    padding-top: 1rem;
}
.title-course {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-shadow: 0 0 0.9rem black;
}
.container-butons-courses{
    width: 100%;
    padding: 2.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-buton-details-course{
    width: 90%;
}
.btn-danger{
    --bs-btn-bg:#00458e;
    --bs-btn-border-color: #00458e;
    --bs-btn-hover-bg:#082d55;
    --bs-btn-hover-border-color:#082d55;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #082d55;
    --bs-btn-active-border-color: #082d55;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #082d55;
    --bs-btn-disabled-border-color: #082d55;
}
.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 1.9rem;
    --bs-btn-font-size: 1.4rem;
    --bs-btn-border-radius: 0.5rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 1.4rem !important;
    --bs-btn-font-size: 1.4rem;
    --bs-btn-border-radius: 0.5rem;
}
.custom-popover{
    --bs-popover-max-width: 21rem;
    --bs-popover-box-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
    --bs-popover-header-bg: #00458e;
    --bs-popover-header-color: #f4f4f6;
    --bs-popover-header-shadow: 0 0 3.2rem 0 rgba(16, 16, 16, 0.66);
    --bs-popover-body-padding-x: 0.4rem;
    --bs-popover-body-padding-y: 0.5rem;
    --bs-popover-font-size: 1.4rem !important;
    --bs-popover-header-font-size: 1.4rem !important;
}
#btnCourse{
    width: 100% !important;
    font-weight: bold;
}
.container-url-course {
    width: 90%;
    height: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #178ea3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url-course {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.4rem 1.4rem;
    color: #fff;
    text-decoration: none;
}
#all-courses{
    --bs-btn-font-size: 1.5rem;
    font-weight: bold;
}
.container-buton-all-courses{
    padding-top: 7rem;
}
.section-projects{
    height: auto;
    padding-bottom: 3.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f6;
}
.projectsTitle,
.technologiesTitle{
    color: #000309;
    text-shadow: none;
    text-shadow: 1px 1px 5px  #949494;
}
.textProjects,
.textTechnologies,
.text-end-technology{
    color: #000309;
}
.container-projects{
    width: 90%;
    height: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
}
.first-container-project{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: end;
    align-items: end;
}
.second-container-project{
    width: 95%;
    height: 19rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.circle-project{
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    background-color: #f4f4f6;
    position: absolute;
    z-index: 2;
    bottom: 13rem;
    left: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img-project{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}
.container-img-project img{
    width: 95%;
    border-radius: 10rem;
}
.third-container-project{
    width: 100%;
    height: 20.5rem;
    background-color: #000309;
    border-top-right-radius: 7rem;
    border-bottom-right-radius: 3.5rem;
    border-bottom-left-radius: 9rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:end;
    
}
.container-title-project{
    width: 60%;
    height: auto;
    margin-top: 0.8rem;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    z-index: 4;
}
.project-title{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    color: #ffffff;
    text-indent: 2rem;
    margin-top: 1rem;
}
.container-description-project{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
}
.sub-container-description-project{
    width: 80%;
    height: 100%;
    padding: 0.3rem;
    border: 0.1rem solid rgba(36, 34, 34,0.5);
    border-radius: 1rem;
    margin-bottom: 5.5rem;
    overflow: auto;
    z-index: 3;
}
.project-description{
    font-size: 1.5rem;
    color: #c3c3c3;
    margin: 0 0.3rem 0 0.3rem;
    letter-spacing: 0, 0.5rem;
}
#descripcionProject{
    margin-top: 2rem;
}
.container-url-project{
    width: 100%;
    height: auto;
    margin: 2rem 0 1.5rem 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}
.sub-container-url-project{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12rem;
    height: 3rem;
    bottom: 0;
    border-radius: 1rem;
    background-color: #2fb4cc;
}
.url-project{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    bottom: 0;
}
.url-all-repositories {
    margin-top: 1rem;
    color: #fff;
}
.section-technologies{
    height: auto;
    padding-bottom: 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffc;
}
.scroller {
    width: 100%;
}
.scroller__inner {
    padding-block: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.scroller img{
    width: auto;
    height: 6rem;
    padding-right: 1rem;
}
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}
.scroller[data-speed="slow"] {
    --_animation-duration: 40s;
}
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
.footer-end{
    background-color: #07080a;
    height: auto;
}
.section-footer{
    height: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-map-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.subcontainer-text-map-footer{
    text-align: center;
}
.subcontainer-map-footer{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 5rem;
    border-bottom: 0.1rem solid #616060;
}
.map-footer{
    width:100%;
    height:24rem;
    border:0;
    border-radius: 1rem;
}
.links-aboutme-footer{
    width: 100%;
    margin-top: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-aboutme-footer{
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
}
.icon-footer-a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #c3c3c3;
}
.iconFooter{
    font-size: 1.8rem;
    color: #ffff;
}
.container-latest-data-footer{
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subcontainer-last-update-footer,
.subcontainer-creater-footer{
    margin: 0;
    padding: 0;
}
.text-last-update-footer,
.text-creater-footer{
    font-size: 1.2rem;
    color: #c3c3c3;
    text-align: center;
    letter-spacing: 0, 0.5rem;
    margin: 0;
}
.text-last-update-footer{
    margin-bottom: 0.4rem;
}
.signature-footer{
    text-decoration: none;
    color: #ffff;
}
